﻿<section class="w3l-specification-6">
    <div class="specification-layout editContent">
        <div class="container-fluid">
            <div class="row text-left img-grids">
                <div class="col-lg-6 p-0">
                    <div class="images-right">
                        <div class="p-md-5 p-3">
                            <h4><a href="#url">İstanbul: Bin Yüz Yıllık Tarih ve Modernliğin Buluştuğu Eşsiz Şehir</a></h4>
                            <p>İstanbul, dünyanın en eşsiz şehirlerinden biridir. Binlerce yıllık tarihi, büyülü manzaraları ve zengin kültürel mirasıyla her ziyaretçisini büyüler. Asya ile Avrupa kıtalarını birleştiren bu benzersiz coğrafya, ihtişamıyla göz kamaştırırken, samimiyetiyle de kalbinizi fetheder.</p>

                        </div>
                    </div>
                </div>

                <div class="col-lg-6 p-0">
                    <div class="four-grids">
                        <div class="images-text">
                            <div class="ser-bg1">
                                <div class="p-md-5 p-3">
                                    <h4><a href="#url">Eskişehir</a></h4>
                                    <p>Türkiye'nin kültürel ve sanatsal zenginlikleriyle dolu, canlı ve dinamik bir şehridir. Anadolu'nun incisi olarak anılan Eskişehir, modern kent dokusunu tarihi mirasıyla birleştirerek ziyaretçilere unutulmaz bir deneyim sunar. </p>

                                </div>
                            </div>
                        </div>
                        <div class="images-text">
                            <div class="ser-bg4">
                                <div class="p-md-5 p-3">
                                    <h4><a href="#url">Bursa</a></h4>
                                    <p>Bursa, tarihî ve doğal güzellikleriyle bezeli, Türkiye'nin önemli turistik destinasyonlarından biridir. "Yeşil Bursa" olarak da anılan bu şehir, zengin kültürel mirası ve muhteşem manzaralarıyla her ziyaretçiyi büyüler.</p>

                                </div>
                            </div>
                        </div>
                        <div class="images-text">
                            <div class="ser-bg2">
                                <div class="p-md-5 p-3">
                                    <h4><a href="#url">İzmir</a></h4>
                                    <p> Ege Bölgesi'nin incisi olarak adlandırılan, tarih ve denizin birleştiği eşsiz bir şehirdir. Renkli sokakları, muhteşem kıyıları ve canlı atmosferiyle İzmir, ziyaretçilere unutulmaz bir deneyim sunar. </p>
                                </div>
                            </div>
                        </div>
                        <div class="images-text">
                            <div class="ser-bg3">
                                <div class="p-md-5 p-3">
                                    <h4><a href="#url">Ankara</a></h4>
                                    <p>Türkiye'nin başkenti ve tarihi zenginlikleriyle dolu önemli bir şehridir. Tarihi dokusu ve modern yapıları bir arada barındıran Ankara, her ziyaretçiye farklı bir deneyim sunar. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
